.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: offwhite;
  color: black;
  height: 4rem;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0mm 0mm 5mm 0mm rgba(0, 0, 0, 0.45);
}
.main {
  display: flex;
  align-items: center;
  background-color: red;
  color: #fff;
  width: 100%;
  margin-top: 4rem;
}
.main div:nth-child(1) {
  flex-grow: 1;
  background-color: aqua;
}
.main div:nth-child(2) {
  flex-grow: 3;
  background-color: blue;
}
.main div:nth-child(3) {
  flex-grow: 1;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #000;
  color: #fff;
  height: 4rem;
  width: 100%;
}
.navBarHomeIconName {
  display: flex;
  align-items: center;
  gap: 3rem;
  /* max-width: 5rem; */
}
.homeIconName {
  flex: 1;
}

.navForm {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid black;
  margin-left: 2rem;
}
.navFormInput {
  border: none;
  outline: none;
}

@media screen and (max-width: 700px) {
  .navBarHomeIconName {
    gap: 0.3rem;
  }
}

@media (max-width: 500px) {
  .homeIconName {
    display: none;
  }
  .navForm {
    display: none;
  }
}
